*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;  
    box-sizing: border-box; 
    text-wrap: wrap
}
body{
    width: 100vw;
    
}
nav{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(157, 157, 238);
}
@media print{
    nav{
        visibility: hidden;
    }
}
table{
    border-collapse: collapse;
}
td,th{
    border-bottom: solid 1px black;
    border-top: solid 1px black;

}

fieldset{
    border: none;
}
#id-sect{
    display: flex;
    justify-content: space-between;
}
.main-wrapper{
    width: 100%;
    margin: 0px auto;
    max-width: 1000px;
    height: 100%;
    padding: 0 4rem;
    margin-bottom: 20rem;
}
.main-title{
    margin-left: 4rem;
}
.nav-links-wrap{
    display: flex;
    margin-right: 5rem;
    color: black;
    text-decoration: none;
    list-style-type: none;
    gap: 1rem
}

.nav-links{
    color: black;
    text-decoration: black;
}

.main-id{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#summary-table{
    width: 100%;

}
#summary-add{
    width: 5rem;
    height: 2rem;

    border: none;
    background-color: rgb(110, 110, 158);
    border-radius: 0.1rem;
    color: white;
}
#summary-extra{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
}
#summary-extra label{
    border-bottom: solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#invoice{
    display: flex;
    margin-top: 2rem;
    gap: 3rem;
    flex-direction: column;
}
.special-input{
    background-color: rgb(243, 243, 243);
    width: 10rem;
    height: 2rem;
    border: none; 
    padding: 0.5rem;
}
.summary-desc{
    
    background-color: rgb(243, 243, 243);
    border: none;
    width: 100%;
    height: 2rem;
}

.summary-data-item
{
    background-color: rgb(243, 243, 243);
    border: none;
    height: 2rem;
    text-align: center;
    display: block;
    margin: 0 auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

#general-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.send-name{
    width: 25rem;
    height: 3rem;
    font-size: larger;
}
.send-bill{
    resize: none;
    height: initial;
}

.preset-ready{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.id-presets{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#id-presets-list{
    width: 8rem;
    height: 3rem;
    background-color: rgb(110, 110, 158);
    color: white;
}

.hide-preset{
    display: none;
}

.g{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

#invoice-submit{
    width: 10rem;
    height: 5rem;
    background-color: rgb(110, 110, 158);
    color: white;
    border: none;
    padding: 2rem;

}

.g2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#extra-notes{
    width: 30%;
    height: 5rem;
}


.ctr-btn{
    width: 8rem;
    height: 3rem;
    background-color: rgb(110, 110, 158);
    color: white;
    border: none;
    
}
.ctr-btn:hover{
    cursor: pointer;
    color: black;
    background-color: white !important;
    border: solid rgb(0, 0, 0);
    

}

.hide-btn{
    visibility: hidden;
    
}

.grey-btn{
    background-color: grey !important;
    pointer-events: none !important;
}

.noedit{
    pointer-events: none;    
    border: solid rgb(127, 127, 127);

}

#del-btn{
    background-color: rgb(100, 21, 21);

    display: block;
    
}

#btn-holder{
    display: grid;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}