<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/CSS/history.css?v=2">
    <title>Document</title>
</head>

<body>

    <nav>
        <h1 class="main-title"> Quick-Voice</h1>
        <ul class="nav-links-wrap">
            <li> <a class="nav-links" href="/">Home</a></li>
            <li> <a class="nav-links" href="/history">Invoice History</a></li>
            <li> <a class="nav-links" href="">Analytics</a></li>
        </ul>
    </nav>
    <main class="main-wrapper">

        <select name="preset" id="preset-profiles-wrapper">
            <option class="po-1" value="0">-- Choose Preset Profile--</option>
            {{range .}}
            <option id="{{.Id}}" value="{{.Id}}"> {{.Name}}</option>
            {{end}}

        </select>


        <div id="card" class="invoice-card hide-card">
            <div class="content-wrapper">
                <div class="data-wrap">
                    <h1 class="invn"> Invoice: 2021-1 </h1>
                    <p class="date"> <b>Date:</b> 2022-10-04</p>
                    <p> <b>Sent to:</b> </p>
                    <p class="r-name"> Jenna Norton </p>
                    <p class="r-addr"> 12 Chegg Drive</p>
                    <p class="r-num"> 218-789-4492</p>
                </div>

                <div class="price-wrap">
                    <p> Total Earned: </p>
                    <h1 class="total">$1512</h1>

                </div>
            </div>

            <div class="btn-wrap">
                <button class=" view-btn invoice-card-btn"> View </button>
                <button class="del-btn invoice-card-btn"> Delete </button>
            </div>

            <div class="cover"></div>

        </div>



    </main>


    <script src="static/JS/history.js"></script>
</body>

</html>