<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="static/CSS/style.css?v=2">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24
        }
    </style>

</head>

<body>
    <nav>
        <h1 class="main-title"> Quick-Voice</h1>
        <ul class="nav-links-wrap">
            <li> <a class="nav-links" href="">Home</a></li>
            <li> <a class="nav-links" href="">Invoice Summary</a></li>
            <li> <a class="nav-links" href="">Analytics</a></li>
        </ul>
    </nav>
    <main class="main-wrapper">
        <form id="invoice">
            <section id="id-sect">


                <div class = "no-preset">
                    <!--Dropdown button taken from https://www.w3schools.com/css/css_dropdowns.asp -->
                    <div class="dropdown">
                        <button class="dropbtn">Presets</button>
                        <div class="dropdown-content">
                            <a href="#">Preset 1</a>
                            <a href="#">Preset 2</a>
                            <a href="#">Preset 3</a>
                            <a href="#">Preset 4</a>
                            <a href="#">Preset 5</a>
                        </div>
                    </div>

                    <fieldset class="main-id">
                        <label for="send-name">
                            <input class="send-name field special-input" type="text" placeholder="Sender Name">
                        </label>
                        <label for="send-addr">
                            <input class="send-addr field special-input" type="text" placeholder="Sender Address">
                        </label>
                        <label for="send-num">
                            <input class=" send-num field special-input" type="text" placeholder="Receiver Phone">
                        </label>
                        <label for="send-mail">
                            <input class="send-mail field special-input" type="email" placeholder="Sender Email">
                        </label>
                        <label for="send-bill">
                            <textarea class="send-bill field special-input" rows="3" placeholder="Billing Info"
                                wrap="soft"></textarea>
                        </label>

                    </fieldset>
                </div>

                <div class = "preset-ready">

                </div>

                <div>
                    <h2> Invoice</h2>
                    <fieldset id="general-info">
                        <label for="general-invoice-num">
                            <input id="general-invoice-num general" class="field special-input" type="text"
                                placeholder="Invoice #">
                        </label>
                        <label for="general-date">
                            <input id="receive-addr" class="field" type="date" placeholder="Date of Invoice">
                        </label>

                    </fieldset>
                </div>


            </section>

            <section>
                <h2>Billed To:</h2>
                <fieldset class="main-id">
                    <label for="receive-name">
                        <input id="receive-name special-input" class="field special-input" type="text"
                            placeholder="Receiver Name">
                    </label>
                    <label for="receive-addr">
                        <input id="receive-addr" class="field special-input" type="text" placeholder="Receiver Address">
                    </label>
                    <label for="receive-num">
                        <input id="receive-num receive" class="field special-input" type="text"
                            placeholder="Receiver Phone">
                    </label>
                </fieldset>
            </section>


            <section>
                <h2>Item Summary:</h2>
                <table id="summary-table">

                    <colgroup>
                        <col style="width: 40%;">
                        <col style="width: 20%;">
                        <col style="width: 20%;">
                        <col style="width: 20%;">
                    </colgroup>
                    <tbody id="summary-table-body">
                        <tr>
                            <th>Item Description</th>
                            <th>Quantity</th>
                            <th>Cost/Unit</th>
                            <th>Total</th>
                        </tr>
                        <tr class="summary-data">
                            <td> <input class="summary-desc" class="field" type="text" name="desc">
                            </td>
                            <td> <input class="summary-data-item summary-calc qty" class="field" type="number"
                                    name="qty" value="0">
                            </td>
                            <td> <input class="summary-data-item summary-calc cpu" class="field" type="number"
                                    name="cpu" value="0">
                            </td>
                            <td> <input class="summary-data-item total" class="field" type="number" name="total"
                                    value="0" disabled>
                            </td>
                        </tr>

                    </tbody>

                </table>

                <button id="summary-add">
                    Add Item
                </button>


            </section>

            <!-- Include field to change the colour of the background -->

        </form>




    </main>


    <script src="static/JS/index.js"></script>
</body>

</html>