<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="static/CSS/style.css?v=2">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24
        }
    </style>

</head>

<body>
    <nav>
        <h1 class="main-title"> Quick-Voice</h1>
        <ul class="nav-links-wrap">
            <li> <a class="nav-links" href="">Home</a></li>
            <li> <a class="nav-links" href="/history">Invoice History</a></li>
            <li> <a class="nav-links" href="">Analytics</a></li>
        </ul>
    </nav>
    <main class="main-wrapper">
        <form id="invoice" method="POST" action="/generate" enctype="application/x-www-form-urlencoded">
            <section id="id-sect">
                <div class="id-presets">

                    <div id = "btn-holder">
                        <label for="id-presets-list">

                            <select name="preset" id="id-presets-list">
                                <option class="po-1" value="1">Preset 1</option>
                                <option class="po-2" value="2">Preset 2</option>
                                <option class="po-3" value="3">Preset 3</option>
                                <option class="po-4" value="4">Preset 4</option>
                                <option class="po-5" value="5">Preset 5</option>
                            </select>
                        </label>
                        <button id="edit-btn" class="ctr-btn">Edit</button>
                        <button id="save-btn" class="ctr-btn hide-btn">Save</button>
                        <button id="del-btn" class="ctr-btn">Delete</button>
                        <button id="cancel-btn" class="ctr-btn hide-btn">Cancel</button>

                    </div>


                    <div class="no-preset hide-preset">
                        <fieldset class="main-id">
                            <label for="send-name">
                                <input class="send-name field special-input noedit" name="sender_name" type="text"
                                    placeholder="Sender Name" required disabled>
                            </label>
                            <label for="send-addr">
                                <input class="send-addr field special-input noedit" name="sender_address" type="text"
                                    placeholder="Sender Address" required disabled>
                            </label>
                            <label for="send-num">
                                <input class=" send-num field special-input noedit" name="sender_number" type="text"
                                    placeholder="Receiver Phone" required disabled>
                            </label>
                            <label for="send-mail">
                                <input class="send-mail field special-input noedit" name="sender_email" type="email"
                                    placeholder="Sender Email" required disabled>
                            </label>
                            <!-- <label for="send-bill">
                                <textarea class="send-bill field special-input" rows="3" placeholder="Billing Info"
                                    wrap="soft"></textarea>
                            </label> -->

                        </fieldset>
                    </div>

                    <div class="preset-ready hide-preset">
                        <h1 class="p-name"> Company Name</h1>
                        <p class="p-addr"> 78 FakePlace Dr</p>
                        <p class="p-num"> 905-455-3222</p>
                        <p class="p-mail"> fake_email@gmail.com</p>

                    </div>
                </div>

                <div>
                    <h2> Invoice</h2>
                    <fieldset id="general-info">
                        <label for="general-invoice-num">
                            <input id="general-invoice-num general" class="field special-input" type="text"
                                placeholder="Invoice #" name="invoice_num" required>
                        </label>
                        <label for="general-date">
                            <input class="special-input" id="receive-addr" class="field" type="date"
                                placeholder="Date of Invoice" name="invoice_date" required>
                        </label>

                    </fieldset>
                </div>


            </section>

            <section>
                <h2>Billed To:</h2>
                <fieldset class="main-id">
                    <label for="receive-name">
                        <input id="receive-name special-input" name="receiver_Name" class="field special-input"
                            type="text" placeholder="Receiver Name" required>
                    </label>
                    <label for="receive-addr">
                        <input id="receive-addr" name="receiver_address" class="field special-input" type="text"
                            placeholder="Receiver Address" required>
                    </label>
                    <label for="receive-num">
                        <input id="receive-num receive" name="receiver_number" class="field special-input" type="tel"
                            required placeholder="Receiver Phone">
                    </label>
                </fieldset>
            </section>


            <section>


                <h2 class="section-title">Item Summary:</h2>

                <label for="summary-currency">
                    <input class="field special-input" type="text" placeholder="Input Currency" name="currency">
                </label>
                <table id="summary-table">

                    <colgroup>
                        <col style="width: 40%;">
                        <col style="width: 20%;">
                        <col style="width: 20%;">
                        <col style="width: 20%;">
                    </colgroup>
                    <tbody id="summary-table-body">
                        <tr>
                            <th>Item Description</th>
                            <th>Quantity</th>
                            <th>Cost/Unit</th>
                            <th>Total</th>
                        </tr>
                        <tr class="summary-data">
                            <td> <input class="summary-desc" class="field" type="text" name="desc" required>
                            </td>
                            <td> <input class="summary-data-item summary-calc qty" class="field" type="number"
                                    name="qty" value="0" required>
                            </td>
                            <td> <input class="summary-data-item summary-calc cpu" class="field" type="number"
                                    name="cpu" value="0.00" required step="any">
                            </td>
                            <td> <input class="summary-data-item total" class="field" type="number" name="total"
                                    value="0.00" disabled>
                            </td>
                        </tr>

                    </tbody>

                </table>

                <div class="g">
                    <button id="summary-add">
                        Add Item
                    </button>

                    <div id="summary-extra">
                        <label for="">
                            Subtotal:
                            <input id="summary-sub" class="special-input" disabled type="number" value="0.00">
                        </label>
                        <label for="">
                            Tax:
                            <input id="summary-tax" class="special-input" type="number" value="0.00" step="any"
                                name="tax">
                        </label>
                        <label for="">
                            Shipping:
                            <input id=summary-ship class="special-input" type="number" value="0.00" name="shipping">
                        </label>
                        <h3 id="summary-total">Total: 0.00</h3>

                    </div>

                </div>

            </section>

            <textarea id="extra-notes" name="extra_notes" placeholder="Additional Information"></textarea>

            <!-- Include field to change the colour of the background -->

            <button id="invoice-submit">
                Save and Print
            </button>

        </form>




    </main>


    <script src="static/JS/index.js"></script>
</body>

</html>