<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="static/CSS/printout.css?v=2">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24
        }
    </style>

</head>

<body>

    <nav>
        <h1 class="main-title"> Quick-Voice</h1>
        <ul class="nav-links-wrap">
            <li> <a class="nav-links" href="">Home</a></li>
            <li> <a class="nav-links" href="/history">Invoice History</a></li>
            <li> <a class="nav-links" href="">Analytics</a></li>
        </ul>
    </nav>

    <main class="main-wrapper">
        <div id="invoice">
            <section id="id-sect">

                <div>
                    <h1 class="p-name"> {{.S.Sender_name}}</h1>
                    <div class="text">
                        <p class="p-addr"> {{.S.Address}}</p>
                        <p class="p-num"> {{.S.Phone}}</p>
                        <p class="p-mail"> {{.S.Email}}</p>

                    </div>
                </div>


                <div>
                    <h2> Invoice</h2>
                    <div class="text">
                        <p class=" p-addr"> Invoice Number: {{.Invn}}</p>
                        <p class="p-num"> Invoice Date: {{.Inv.Invoice_date}}</p>

                    </div>
                </div>


            </section>

            <section>
                <h2>Billed To:</h2>
                <div class="text">
                    <p class="p-addr"> {{.R.Receipient_name}}</p>
                    <p class="p-num"> {{.R.Address}}</p>
                    <p class="p-mail"> {{.R.Phone}}</p>
                </div>
            </section>


            <section>


                <h2 class="section-title">Item Summary:</h2>
                <table id="summary-table">

                    <colgroup>
                        <col style="width: 40%;">
                        <col style="width: 20%;">
                        <col style="width: 20%;">
                        <col style="width: 20%;">
                    </colgroup>
                    <tbody id="summary-table-body">
                        <tr>
                            <th>Item Description</th>
                            <th>Quantity</th>
                            <th>Cost/Unit ({{.Currency}})</th>
                            <th>Total ({{.Currency}})</th>
                        </tr>

                        {{range .Items}}
                        <tr class="summary-data">

                            <td>
                                <p> {{.Description}}</p>
                            </td>
                            <td>
                                <p class="summary-data-item"> {{.Qty}}</p>
                            </td>
                            <td>
                                <p class="summary-data-item"> {{.Ppu}} </p>
                            </td>
                            <td>
                                <p class="summary-data-item"> {{.Total}} </p>
                            </td>
                        </tr>
                        {{end}}

                    </tbody>

                </table>

                <div class="g">
                    <div>

                    </div>

                    <div id="summary-extra">
                        <p>
                            Subtotal: {{.Currency}}{{.Inv.Subtotal}}
                        </p>
                        <p>
                            Tax: {{.Inv.Tax}}
                        </p>
                        <p>
                            Shipping: {{.Currency}}{{.Inv.Shipping}}
                        </p>

                        <h3 id="summary-total">Total: {{.Currency}}{{.Inv.Total}}</h3>

                    </div>

                </div>

            </section>

            <p>
                Additional Notes: {{.Notes}}
            </p>

            <!-- Include field to change the colour of the background -->



        </div>




    </main>

</body>

</html>